/* body */
body {
    background-color: rgb(15, 15, 15); 
    font-family: Helvetica, sans-serif;
    color: #aaaaaa;    
    transition: ease-out 0.2s;
}   
body > * ::selection {
  background-color: rgba(32, 154, 224, 0.575);
  color: white;
}



/* Navigation bar */
nav {
  background-color: #0d5f6b;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
.side-bar {
  padding: 5px 10px;
  border-radius: 5px;
  transition: ease-out 0.2s;
}
.side-bar:hover {
    background-color: #1bbdd6;
}
#Search {
    background-color: rgba(255,255,255,0.3);
    border :none;
    color: #eeeeee;
    box-shadow: none;
}
#Search::placeholder {
    color: #eeeeee;
}


/* List items and lists */
.todo li,.complete li {
    background-color: rgb(35, 35, 35);
    border-radius: 8px;
    border: 1px;
    font-size: larger;
    cursor: pointer;
    animation: fadein 0.4s;
    float: left;
}
@keyframes fadein {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.rem-btn, .comp-btn {
    width: 30px;
    height: 30px;
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 10px; 
    text-align: center;
}
.edit-btn {
  width: 30px;
  height: 30px;
  padding: 1px 0px; 
  border-radius: 15px; 
  font-size: 18px; 
  text-align: center; 
}



.complete:empty::after {
    display: block;
    color: grey;
    text-align: center;
    float: center;
    content: 'No tasks completed yet!';
}
.todo:empty::after {
    display: block;
    color: grey;
    text-align: center;
    float: center;
    content: 'No tasks to-do!';
}
.complete li {
    color: #555555;
    background-color: rgba(26, 26, 26, 0.5);
    box-shadow: none;
}




/* input bar styling */
.form-control {
    background-color: rgb(25, 25, 25);
    border-color: rgb(30, 30, 30);
    color: #aaaaaa;
}
.form-control:focus {
    background-color: rgb(30, 30, 30);
    border-color: rgb(30, 30, 30);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.175) inset, 0px 0px 8px rgba(99, 99, 99, 0.8);
    color: #aaaaaa;
}



/* remove all button */
.rem-all:disabled {
    color: #7e7e7e;
    border-color: #7e7e7e;
}
.rem-all:disabled:focus {
    box-shadow: 0 0 0 .2rem #7e7e7e7e;
}




/* side menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(25, 25, 25);
    overflow-x: hidden;
    transition: ease-out 0.2s;
    padding-top: 60px;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.28);
    color: rgb(201, 201, 201);
  }
  .sidenav a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    width: 350px;
    transition: 0.2s;
    color: rgb(201, 201, 201);
  }
  .sidenav a i{
    width: 50px;
    padding: 0px 10px;
  }
  .sidenav a:hover {
    color:rgb(114, 114, 114);
    text-decoration: none;
    background-color: rgb(17, 17, 17);
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    margin-bottom: 10px;
  }
  .sidenav > span {
    cursor: pointer;
  }



/* small task cannot be empty notification  */
.popup {
    position: absolute;
    bottom: 1rem;
    right: 20px;
    padding: 0.5rem;
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 5px 6px 10px rgba(0,0,0,0.8);
    border-radius: 4px;
    z-index: 10;
    display: none;
    animation: displaypopup 2s cubic-bezier(.42,0,.58,1)
    /* transition: 2s ease-in-out; */
  }
  
  @keyframes displaypopup {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }


/* Editt task popup */
.popup-flex{
  margin:30px;
}
.popup-container {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 17, 17, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.popup-content {
    background-color: rgb(35,35,35);
    margin: auto;
    padding: 20px;
    border: 1px solid rgb(75, 75, 75);
    border-radius: 8px;
    color: #eeeeee;
    width: 50%;
    margin-bottom: 20px;
}
.popup-content p{
    font-size: 17px;
    padding: 10px;
    line-height: 20px;
}
.popup-content span{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.popup-content span:hover,
.popup-content span:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.show{
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.more-articles{
  margin:30px 30px 50px;
  font-size:20px;
}
.more-articles a{
  margin:0 10px;
  text-decoration:underline;
}
.editbuttons {
  margin: auto;
  margin-top: 20px;
}
.cancel-edit {
  margin: 0 5px;
}
.done-edit {
  margin: 0 5px;
}

@media(max-width:1200px) {
  .lst-btn {
    display: none;
  }
}